<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <main class="home-wrapper">
      <h1 class="title">All Blogs</h1>
      <p class="subtitle">Latest of Gensokyo</p>
      <hr />
      <br />
      <div class="blogs">
        <% if(blogs.length > 0){%> <%for(const blog of blogs){%>
        <a href="/blogs/<%=blog._id%>" class="blog">
          <h3 class="blog-title"><%=blog.title%></h3>
          <p class="blog-body"><%=blog.body%></p>
        </a>
        <%}%> <%} else {%>
        <p>There are no blogs to display</p>
        <%}%>
      </div>
    </main>
    <div class="clear"></div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
